.bug-create {
    width: 60vw;
    background-color: var(--backgroundColor);
    display: flex;
    flex-wrap: wrap;
    margin: 0.5rem auto;
    border-radius: 5px;
    position: absolute;
    z-index: 100;
    padding: 1% 5%;
    padding-bottom: 3%;
    right: 10rem;
    left: auto;
    top: 1%;
}

.bug-create h1 {
    min-width: 100%;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px groove black;
}

.bug-create form {
    min-width: 90%;
    display: grid;
    grid-template-columns: 18% 80%;
    align-items: center;
    column-gap: 7px;
    row-gap: 10px;
}

.bug-create label {
    text-align: right;
    font-size: 1rem;
    margin-top: 1rem;
}

.bug-create input,
textarea,
select {
    margin-top: 1rem;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
}

.bug-create form button {
    grid-column: 2;
    margin-top: 1rem;
}

.close-btn {
    position: absolute;
    top: 6%;
    right: 4%;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: none;
    background-color: transparent;
    color: var(--secondaryColor);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .bug-create {
        width: 90vw;
        right: 0;
        left: 0;
        z-index: 40;
    }

    .bug-create form {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .bug-create input,
    textarea,
    select {
        width: 100%;
        margin-top: 1rem;
        border: none;
        border-radius: 5px;
        padding: 5px;
        font-size: 1rem;
    }
}
