.login-page-container {
    background-image: url('../../../assets/imgs/v2osk-IHKBF23A_iw-unsplash.jpg');
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.login-panel {
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 2rem 3rem 3rem 3rem;
}

.login-panel form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 2rem 3rem 3rem 3rem;
}

.login-panel h1 {
    width: 100%;
}

.login-panel input {
    outline: none;
    opacity: 0.4;
    margin: 0 auto;
    padding: 10px;
    padding-left: 2.7rem;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #000;
}

.login-panel input:focus {
    opacity: 1;
}

.input-containers:hover {
    box-shadow: 0 0 5px 2px rgb(255, 255, 255, 0.3);
}

.login-panel button {
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 780px) {
    .login-panel {
        padding: 1rem 1rem 1rem 1rem;
        width: 95%;
        min-width: none;
    }

    .login-panel form {
        padding: 1rem 1rem 1rem 1rem;
    }

    .login-page-container {
        height: 90vh;
    }
}
