@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: 'Nunito', sans-serif;
    --primaryColor: #0F1A20;
    --buttonColor: #E2856E;
    --cardColor: #1F2A30;
    --backgroundColor: #2E2E3A;
    color: #ffffff;
    background-color: #ADA296;
  }

  .button {
    background-color: var(--buttonColor);
    border: none;
    border-radius: 5px;
    padding: 9px 30px;
    color: #ffffff;
    font: normal bold 1rem 'Open Sans', sans-serif;
    cursor: pointer;
    margin-bottom: 10px;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
  }

  .button:hover {
    transition: all 0.3s ease-in-out;
    border: 2px solid var(--buttonColor);
    background-color: transparent;

  }

  .transform-scale-hover:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 30px 8px rgba(255, 255, 255, 0.5);
  }
}
